maps/*
Plots/*
scripts/cic_maps/*.out
scripts/cic_maps/*.err
scripts/cic_maps/log/*
.DS_Store
scripts/allsky/log/*
scripts/allsky/*.out
scripts/allsky/allsky.slurm
scripts/phase_maps/log/*
scripts/allsky/mhd.slurm
scripts/allsky/run_B.sh
scripts/phase_maps/job.slurm
scripts/phase_maps/job.slurm
scripts/cic_maps/*.out
scripts/cic_maps/*.err
scripts/cic_maps/log/*
.DS_Store
