maps/*
Plots/*
scripts/allsky/log/*
scripts/allsky/*.out
scripts/allsky/allsky.slurm
scripts/phase_maps/log/*
scripts/allsky/mhd.slurm
scripts/allsky/run_B.sh
scripts/phase_maps/job.slurm
scripts/phase_maps/job.slurm
